html
  head
    title Monster Generator
    link(rel="stylesheet", href="main.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.js")
  body
    .monster-card.monster-card-generate
      h1 MONSTER GENERATOR DELUXE
      
      .platform
        img(src="assets/img/pinky.png", alt="pinky the newbie")
      
      button Generate
      
      
    .monster-card.monster-card-wide
      .monster-card-stats
        img()
        h2 Stats:
        ul 
          li 
            p Name:
              span#name Pinky
          li 
            p Attack:
              span#attack 25 Magic
          li 
            p Health:
              span#hp 100
          li 
            p Amour:
              span#armour 50
          li 
            p Skills:
              span#skills Fire
          li 
            p Speed:
              span#speed 50
    
      .platform
      
      .title-card
        p a random penis has appeared!
       
      
    footer
      p Created by 
      a(href="http://www.twitter.com/thejoshbivens") @thejoshbivens
      span &
      a(href="http://www.twitter.com/iheartkode") @iheartkode 
      p Monster art provided by 
      a(href="http://www.twitter.com/Calciumtrice") @Calciumtrice
      
      
      
    script(src="js/app.js")