html
  head
    title Monster Generator
    link(rel="stylesheet", href="main.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.js")
  body
    .monster-card
      h1 MONSTER GENERATOR DELUXE
      
      .platform
        img(src="assets/img/pinky.png", alt="pinky the newbie")
      
      button Generate
      
    footer
      p Created by 
      a(href="http://www.twitter.com/thejoshbivens") @thejoshbivens
      span &
      a(href="http://www.twitter.com/iheartkode") @iheartkode 
      p Monster art provided by 
      a(href="http://www.twitter.com/Calciumtrice") @Calciumtrice
      
      
      
    script(src="js/app.js")